<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
import {InnerObj} from '@/types';

enum FormNames {
    Input1 = 'Input 1',
    Input2 = 'Input 2',
    Input3 = 'Input 3',
    Input4 = 'Input 4'
}

@Component
export default class HelloWorld extends Vue {
    @Prop() private innerObj!: InnerObj;

    FormNames = FormNames;

    formObj = {
        [FormNames.Input1]: {
            value: `${this.innerObj.data1}`
        },
        [FormNames.Input2]: {
            value: `${this.innerObj.data2}`
        },
        [FormNames.Input3]: {
            value: `${this.innerObj.data3.id}`,
            options: [1,2,3,4,5]
        },
        [FormNames.Input4]: {
            value: `${this.innerObj.data4.id}`,
            options: ['hello', 'hello1', 'hello2', 'hello3', 'hello4']
        }
    };

    setter(name: FormNames) {
        return (e: Event) => {
            const target = e.target as HTMLInputElement;
            this.formObj[name].value = target.value;
        }
    }

    get input1() {
        return this.formObj[FormNames.Input1];
    }

    get input3() {
        return this.formObj[FormNames.Input3]
    }

    get input4() {
        return this.formObj[FormNames.Input4]
    }

    @Watch('input1', {deep: true}) input1Change(val: any) {
        this.setInput2ValueFrom1and3and4();
    }

    @Watch('input3', {deep: true}) input3Change(val: any) {
        this.setInput2ValueFrom1and3and4();
    }

    @Watch('input4', {deep: true}) input4Change(val: any) {
        this.setInput2ValueFrom1and3and4();
    }

    setInput2ValueFrom1and3and4() {
        this.formObj[FormNames.Input2].value =
            this.formObj[FormNames.Input1].value +
            this.formObj[FormNames.Input3].value +
            this.formObj[FormNames.Input4].value;
    }
}
</script>

<template>
    <form class="hello" v-if="formObj">
        <input
            type="text"
            :value="formObj[FormNames.Input1].value"
            @change="e => setter(FormNames.Input1)(e)">
        <input
            type="text"
            :value="formObj[FormNames.Input2].value"
            @change="e => setter(FormNames.Input2)(e)">
        <select
            :value="formObj[FormNames.Input3].value"
            @change="e => setter(FormNames.Input3)(e)">
            <option v-for="opt in formObj[FormNames.Input3].options" :key="opt">
                {{ opt }}
            </option>
        </select>
        <select
            :value="formObj[FormNames.Input4].value"
            @change="e => setter(FormNames.Input4)(e)">
            <option v-for="opt in formObj[FormNames.Input4].options" :key="opt">
                {{ opt }}
            </option>
        </select>
    </form>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

input, select {
    margin: 16px;
}

select {
    min-width: 100px;
}
</style>
