<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import HelloWorld from './components/HelloWorld.vue';
import {InnerObj} from '@/types';

@Component({
    components: {
        HelloWorld,
    },
})
export default class App extends Vue {
    innerObj: InnerObj = {
        data1: 155,
        data2: 'data2',
        data3: {
            id: 5,
            name: 'data3'
        },
        data4: {
            id: 'hello'
        }
    }
}
</script>

<template>
    <div id="app">
        <img alt="Vue logo" src="./assets/logo.png">
        <HelloWorld :inner-obj="innerObj"/>
    </div>
</template>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
